@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
    --Rufous:#A40101;
    --Viridian-green: rgb(44, 163, 171);
    --Silver:#C4C4C4;
    --Orange:#F3610E;
    --Cadet: rgb(29, 27, 69);
}
body{
    font-family:'Poppins', sans-serif;
}
h1,h2,h3{
    color: var(--Orange);
}

p{
   color: black; 
}
/*index*/
header{
    display: flex;
    flex-wrap: wrap;
}
button{
    font-family:'Poppins', sans-serif;

}
#info{
    width: 100%;
    display: flex;
    margin:2rem 0rem 1rem 0rem ;
    font-weight: lighter;
}
    .telefono{
        display: flex;
        margin: 2rem 1rem 1rem 30rem;
        align-items: center; 
    
        }
        .telefono p{
            text-align: left;
            padding-left: 1.5rem; 
            padding-bottom: 0.1rem;
            font-weight: 300;
            }

    .ubicacion{
        display: flex;
        align-items: center;
        margin:2rem 0rem 0rem 3rem ;
        
    }
        .ubicacion p{
            text-align: left;
            padding-left: 1.5rem; 
            padding-bottom: 0.1rem;
            font-weight: 300;
        }
.botonprincipal{
    display: flex;
    align-items: center;
    border-radius: 15rem;
    background-color: #1D1B45;
    border-width: 0;
    height: 35px;
        }
        .botonprincipal p{
            font-weight: 800;
            color: white;
            text-decoration: none;
            margin-left: 0.2rem;
        }
        .icon{
            color: white;
            margin-left: 0.5rem;
            margin-right: 0.2rem;
            padding-bottom: 0.2rem;
        
        }

    .lugarbtn{
        margin-left: 32rem;
        margin-top: 2.8rem;
    }
.icono{
    display: flex;
    padding-left: 5rem;
    padding-bottom: 3rem;
}
    .icono i{
        padding-left: 3rem;
        color: #F3610E;
     
    }
 
#linea{
    width:62rem;
    height: 3rem;
    padding-left: 224px;
    padding-bottom:1rem ;
    
}


/*Main*/
 

.texto{
    display: flex;
    flex-direction: column;
    background-image: url(../imagenes/2.\ medico.png);
    height: 42.2rem;
    margin: 0.2rem;

}

.texto h2{
    font-size: 40px;
    padding: 10rem 5rem 0rem 16rem;
    margin: 0.1rem;
    font-weight: 400;
}
.texto h1{
    color:black;
    font-size: 60px;
    margin: 0.1rem;
    padding: 0rem 5rem 0rem 25rem;
    font-weight: 400;
}

.ubicacionbtn2{
    padding: 0.1rem 2rem 0rem 27rem;

}
.franja{
    height: 120px;
    overflow: hidden;
    position: relative;
    top: 201px;
    
}


#infos{
    display:flex;
    background-image: url(../imagenes/4.\ covid.jpeg);
    width: 100%;
    justify-content: space-around;
    background-color:  rgba(255, 255, 255, 0.747);
    
}
.signos{
    background-color:  rgba(255, 255, 255, 0.747);
    width: 73rem;  
}

.subtitulos{
    display: flex;
    font-size: 22px;
    padding: 1rem 12rem 0rem 12rem;

}
    .subtitulos h3{
        color: rgba(11, 87, 149,1);
        font-weight: 500;
    }
    .subtitulos img{
        width:50px ;
        padding-right: 1rem;
    }

    .lista ul{
        list-style: none;
        text-align:left;
        font-size: 19px;
        padding: 0rem 18rem;
    }
    .check{
        width: 38px;
        margin-right: 0.5rem;
    }
    .lista li{
        padding-bottom: 1rem;

    }

.quehacer{
    background-color:  rgba(255, 255, 255, 0.747);
    width: 73rem;
    
}
.quehacerinfo p{
    font-size: 22px;
    padding:0rem 12rem 1rem 12rem;
    margin-bottom: 1rem;
    text-align: justify;
}

.quehacerinfo img{
    width:150px;
    padding: 0rem 25rem;
    
}
.quehacerinfo a{
    color: rgba(11, 87, 149,1) ;
    padding: 3rem 18rem;
    margin: 2rem;

}

#tips{
    height: 275px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    color: white;
    border-color: white;
    border-radius: 2px;
}
#tips p{
    background-color: #242336;
    color: white;
    margin-top: 0.1rem;
    padding: 0.6rem;
    margin-bottom: 0.9rem;

}

.blanco{
    background-color: white;
    padding: 1rem 0 0 0rem;
}
.footp{
    display: flex;
    background-color: black;
    color: white;
    text-align: center;
    padding-left: 55rem;
    height: 90px;
}
/*Login*/

#background{
    background-image: url(../imagenes/10.png);
    background-repeat: no-repeat;
    background-size: cover;

}
#center{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:8rem;
}


#volver {
    font-family:'Poppins', sans-serif;
    margin-bottom: 1rem;
    margin-left: 18rem;
    background-color:var(--Cadet);
    border-color: #2CA3AB;
    border-radius: 8px;
    border-style: solid ;
    border-width: 1.5px;
    outline: none;
    padding: 0.2rem 0.5rem;
}
#volver a{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
}
#box-login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-width: 2px;
    border-radius: 0.8rem;
    font-weight: 300;
    box-shadow:1px 1px 0.2px black;
    
}
#box-login p{
    font-size: 14px;
    font-weight: 500;
}
.encabezado{
    background-color: rgba(44, 163, 171,0.45);
    padding: 3rem 5rem;
    border-radius: 0.8rem 0.8rem 0rem 0rem;
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 0.5px;
    outline: none;
}
.encabezado img{
    width:15rem;
}
.encabezado p{
    font-size: 15px;
    text-align: center;
    font-weight: 400;
}


.form-group-login{
    text-align: center;
    border-radius: 0.8rem;
    padding-bottom: 0.5rem;
    font-weight: 400;
    margin: 1rem;
    
}

.form-label-login{
    display: flex;
    background-color: rgba(44, 163, 171,0.15);
    margin-top: 0.2rem;
    margin-left: 3.2rem;
    margin-bottom: 0.8rem;
    padding: 0.5rem ;
    border-radius: 0.8rem;
    border-color:  rgba(44, 163, 171,0.45);
    border-style: solid ;
    border-width: 1px;
    outline: none;
    width: 16rem;
}
.olvidar{
    color: black;
    display: flex;
    justify-content: center;
    font-size: 11px;
    margin-bottom: 0.5rem;
    font-weight: 500;
}
#ingresar{
    font-family:'Poppins', sans-serif;
    background-color: var(--Orange);
    border-color: var(--Cadet);
    border-radius: 10px;
    border-color: rgba(11, 87, 149,1) ;
    border-style: solid ;
    border-width: 1px;
    outline: none;
    padding: 0.3rem 2rem;
}
#ingresar a{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

/*dashboard*/
a:link{color:black}
a:visited {color:black}
a:focus{color: #A40101;}

#izquierda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #1c1d36 ;
    width:21rem;
    height: 59rem;
    float: left;
}

#izquierda img{
    margin: 10rem 0.8rem;
    
}

#izquierda i{
    display: flex;
    justify-content: center;
    padding: 0.3rem 0rem;
    font-size:22px;
    text-decoration: none;

}

#izquierda h4{
    display: flex;
    justify-content: space-around;
    margin: 0rem 0rem
}

.box-izquierda{
    display: flex;
    justify-content: center;
    background-color: #C4C4C4;
    width: 21rem;
    margin: 1rem 0rem;
    border-radius: 10px;
    border-color: var(--Orange);
    border-style: solid ;
    border-width: 2px;
    outline: none;
}

.box-izquierda a{
    text-decoration: none;
}
.box-izquierda h4{
    margin-top: 0.2rem;
    font-weight: 600;
    font-size: 19px;
}

.box-izquierda:hover{
    background-color:var(--Orange);
    transition-property: background-color;
    transition-duration: 1s;
    transition-timing-function:ease-in-out;
    transition-delay: 1s;}
 

.usuario {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(to bottom , #C4C4C4,white);
    background-color: #C4C4C4;
    margin-left: 102rem;
    text-align: left;
    justify-content: flex-end;
    margin-right: 3.5rem;
    border-radius: 10px;
    font-size: 0.9rem;
}
.usuario i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 35px;
    border-radius: 50%;
    border-color: var(--Orange);
    border-style: solid ;
    border-width: 2px;
    outline: none;
}

.usuario i{
    display: flex;
    align-items: center;
    margin-right:0.5rem ;
    background-color: white;
    
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin:0rem 2rem;
    
}
.principal h2{
    margin-top:3rem ;
    font-size: 45px;

    font-weight: 400;
    margin-bottom: 7rem;
 
}

.botones{
    display: flex;
    padding: 0rem 1rem;
    margin:0rem 3rem;
    
}
.botones button {
    width: 2.5rem;
    height: 1.8rem;
    background-color: var(--Cadet);
    border-color: var(--Viridian-green);
    border-width: 3.5px;
    border-radius: 5px;
    margin-left:  1rem;
}


#search {
    font-family:'Poppins', sans-serif;
    width: 360px;
   text-align: left;
   border-width: 1px;
   font-size:18px ;
   border-color: white;
   border-width: 0px;
   border-bottom: 2px var(--Cadet);
   padding-left: 1.5rem;
   border-style: groove;
   
}

.buscador{
    color: white;
}

.reload{
    color: white;
}
.guerreros {
    margin: 10rem 90rem;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    opacity: .5;
    }

#abajo{
    position: relative;
    left:0rem ;
    bottom: 7.5rem;

}
#barra img{
    flex-basis:90%;
    position: absolute;
    bottom:0;
    max-width: 98%;
    max-height: 98%;
}
/*Alerta*/
#fondo{
background-image: url(../imagenes/alerta.png);
background-repeat: no-repeat;
background-size: cover;
}

#alerta-box{
    background-color: whitesmoke;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagen{
    display: flex;
    width: 260px;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 110px;
    
}
#alerta-box h2{
    color: black;
    font-weight: 300;
    text-align: center;

}
#gracias{
    font-family:'Poppins', sans-serif;
    background-color: var(--Orange);
    border-color: var(--Cadet);
    border-color: var(--Viridian-green) ;
    border-style: solid ;
    border-width: 1px;
    outline: none;
    padding: 0.3rem 2rem;
    position: relative;
    left: 140px;
}
#gracias a{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#cancel{
    font-family:'Poppins', sans-serif;
    margin-bottom: 1rem;
    margin-left: 18rem;
    background-color:var(--Cadet);
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 1.5px;
    outline: none;
    padding: 0.2rem 0.5rem;
    position: relative;
    right: 100px;
}
#cancel a{
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/*Pacientes*/

.superior{
    background-color:#18182a;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 197px;

}
.superior img{
    margin-right: 90rem;
}
.superior i{
    background-color: white;
    padding: 0.8rem;
    align-items: flex-end;
    margin: 0.9rem ;
    border-radius: 50%;
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 2px;
}

.abajosub{
    margin-top: 1px;
}  
#botones{
    display: flex;
    justify-content: space-between;
    margin: 2rem 28rem;
}
#distancia{
    margin-top: 120px;
}
.agregar{
    background-color: var(--Orange);
    padding:0.5rem ;
    border-radius: 4px;
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 1px;
    outline: none;

}
.agregar a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

#search2{
    width:150px ;
    border-radius: 6px;
    border-width: 2px;
    border-color: var(--Viridian-green);
  
}
.pacientes {
    color: #1D1B45;
    text-decoration: underline;
    font-size: 2rem;
    font-weight:400 ;
    text-align: center;
    height: 350px;

}
.buscar2{
    width: 2.5rem;
    height: 1.8rem;
    background-color: var(--Cadet);
    border-color: var(--Viridian-green);
    border-width: 3.5px;
    border-radius: 5px;
   

}
.titulopa h3{
    text-align: center;
    color: #1D1B45;
    text-decoration: underline;
    font-weight: 400;
    font-size: 2rem;
}
#table{
    margin: 15px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
}
table{
    background-color: #2CA3AB;
}

#table th {
    background-color: #1D1B45;
    color: white;
    padding: 0.9rem 2rem;
    font-weight: 400;
}
#table td {
    background-color: #C4C4C4;
}
.form-group3{
    margin:0.3rem 3rem;
    
}

.btn-azul{
    background-color: #2CA3AB;
    border-radius: 4px;
    height: 2rem;
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 1px;
    outline: none;
    margin-right: 0.4rem;
}
.btn-rojo{
    height: 2.1rem;
    font-weight: 500;
    background-color: #A40101;
    border-radius: 4px;
    border-color: #A40101;
    border-style: solid ;
    border-width: 1px;
    outline: none;
    color: white;
    text-decoration: none;
}


/*Registro*/

.tituloforms h1{
    text-align: center;
    color: white;
    background-color: var(--Cadet);
    font-weight: 300;
    border-radius: 10px;
    
}

#forms{
    display: flex;
    flex-direction: column;
    background-color: #C4C4C4;
    margin: 0 23rem;
    padding: 2rem;
    border-color:  #242336;

}


.form-label{
    margin: 0.6rem 0.7rem;
    text-align: center;
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 1px;
    outline: none;
}
.form-label-largo{
    margin: 0.6rem 0.7rem;
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 1px;
    width: 500px;
    height:30px ;
    outline: none;
   
}


.divisionforms{
    display: flex;

    justify-content: center;
    background-color: #2CA3AB;
    background-color: #2CA3AB;
    border-radius: 10px;
}

.divisionforms h4{
    font-weight: 400;
    color: white;
}
.divisionforms i{
    position: relative;
    top: 23px;
    right: 420px;
}
.form-label-last{
    margin: 0.6rem 0.7rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-color: #2CA3AB;
    border-style: solid ;
    border-width: 1px;
    outline: none;

}

.sino{
    text-align: center;
    margin: 0.5rem ;
    
}
.sino label{
    display: flex;
    text-align: left;
}

.agregar-button{
    margin: 1rem;
    display: flex;
    justify-content: center;

}


